<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <style>
        html {
            zoom: 0.9;
        }
        body {
            background-color: #f4f4f4;
            padding: 20px;
            display: flex; /* 将页面内容改为弹性布局 */
        }

        #header {
            display: flex;
            flex-direction: column; /* 将标题和用户信息列为垂直方向 */
            align-items: center; /* 居中对齐 */
            background-color: #333;
            color: white;
            padding: 10px;
            margin-right: 20px; /* 为了使内容与导航栏有间距 */
        }

        #navigation {
            display: inline-block;
            background-color: #333;
            color: white;
            padding: 10px;
            text-align: center;
            width: 200px; /* 设置导航栏宽度 */
        }

        #navigation a {
            display: block; /* 将链接显示为块元素以占据整行 */
            padding: 20px 0; /* 添加上下内边距 */
            text-decoration: none;
            font-size: 18px;
            color: white;
            font-weight: bold;
        }

        #main-content {
            flex: 1; /* 让主要内容占据剩余空间 */
            margin-top: 20px;
        }

        .ui.button {
            background-color: #2185d0;
            color: white;
        }
    </style>
    <title>HG电商网</title>
</head>

<body>
<div id="header">
    <h1>HG —— 电商网</h1>
    <h2>超级管理员管理后台</h2>
    <div id="userInfo" style="display: none; align-items: center;">
        <p id="userEmail" style="margin: 0; font-size: 1.2em;"></p>
        <button class="ui button secondary" id="logoutButton" style="display: none;">注销</button>
    </div>

    <div style="height: 50px;"></div>

    <div id="navigation">
        <a href="#" onclick="loadContent('users')">用户账户信息管理</a>
        <a href="#" onclick="loadContent('salesmen')">销售人员账户信息管理</a>
        <a href="#" onclick="loadContent('logs')">系统运行日志管理</a>
        <a href="#" onclick="loadContent('orders')">商城订单信息管理</a>
        <a href="#" onclick="loadContent('goods')">商城商品信息管理</a>
        <a href="#" onclick="loadContent('data')">用户画像分析</a>
        <a href="#" onclick="loadContent('saleData')">商城商品销售额查询</a>
    </div>

</div>



<!-- 主要内容区域 -->
<div id="main-content">
    <div>
        <h2> 用户账户信息管理 </h2>
    </div>
    <div class="ui segment" id="contentArea">
        <!-- 功能按钮 -->
        <button class="ui button" onclick="toggleModal('addUserFormModal')">添加用户信息</button>
        <!-- 商品信息表格 -->
        <table class="ui celled table" style="font-size: 1em">
            <thead>
            <tr>
                <th>用户名</th>
                <th>密码</th>
                <th>注册时间</th>
                <th>激活状态</th>
                <th>删除操作</th>
                <th>修改操作</th>
            </tr>
            </thead>
            <tbody id="userTableBody">
                <!-- 列表内容在此处动态展示 -->
            </tbody>
        </table>
    </div>
</div>

<!-- 添加用户信息表单模态框 -->
<div class="ui modal" id="addUserFormModal">
    <div class="header">添加用户信息</div>
    <div class="content">
        <!-- 添加用户信息表单 -->
        <div class="ui form">
            <div class="field">
                <label>用户名/邮箱</label>
                <input type="text" id="emailInput" placeholder="Email/Username">
            </div>
            <div class="field">
                <label>密码</label>
                <input type="password" id="passwordInput" placeholder="Password">
            </div>
            <div class="field">
                <label>激活状态信息</label>
                <input type="text" id="statusInput" placeholder="state">
            </div>
        </div>
    </div>
    <div class="actions">
        <button class="ui button" id="addUser">提交</button>
    </div>
</div>

<!-- 删除用户确认模态框 -->
<div class="ui basic modal" id="deleteModal">
    <div class="ui icon header">
        <i class="trash alternate outline icon"></i>
        确认删除用户信息
    </div>
    <div class="content">
        <p>你确定要删除该用户信息吗？注意：该操作无法撤回！</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            取消
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            确认删除
        </div>
    </div>
</div>

<!-- 修改密码模态框 -->
<div class="ui modal" id="updatePasswordModal">
    <i class="close icon"></i>
    <div class="header">
        修改用户密码
    </div>
    <div class="content">
        <!-- 修改用户密码的表单 -->
        <form id="updatePasswordForm" class="ui form">
            <div class="field">
                <label>用户名</label>
                <span id="whoBeUpdatedPw"></span>
            </div>
            <div class="field">
                <label>新密码</label>
                <input type="text" name="newPassword" placeholder="new password" id="passwordInputToUpdate">
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui primary button">确认修改</div>
        <div class="ui button" onclick="clearAddForm()">取消</div>
    </div>
</div>

<!-- 修改激活状态模态框 -->
<div class="ui modal" id="updateStateModal">
    <i class="close icon"></i>
    <div class="header">
        修改用户激活状态（0：未激活 1：正常 2：拉黑）
    </div>
    <div class="content">
        <!-- 修改用户激活状态的表单 -->
        <form id="updateStateForm" class="ui form">
            <div class="field">
                <label>用户名</label>
                <span id="whoBeUpdatedState"></span>
            </div>
            <div class="field">
                <label>激活状态</label>
                <input type="text" name="newState" placeholder="new State" id="stateInputToUpdate">
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui primary button">确认修改</div>
        <div class="ui button" onclick="clearAddForm()">取消</div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    // --------------------------------------------------------------------------
    // 动态加载管理员信息
    $.ajax({
        url:"/admin/getInfo",
        method: "POST",
        success: function (user){
            if(user){
                // 用户已登录，更新用户信息部分
                $("#userInfo").css("display", "flex");
                $("#userInfo p").text(`${user.email}`);
                $("#logoutButton").css("display", "block");
            }else{
                window.location.href = '/adminLogin'
            }
        }
    });
    // 注销按钮点击事件
    $("#userInfo").on("click", "#logoutButton", function () {
        $.ajax({
            url:"/admin/logout",
            method:"POST",
            success: function (response){
                alert(response.message);
                window.location.href = '/shoppingWeb';
            },
            error: function(error){
                console.error('退出登录失败', error);
            }
        });
    });

    // --------------------------------------------------------------------------
    // 分页信息
    var pageSize = 10;
    var currentPage = 1;
    var maxPageButtons = 5;
    var users = [];
    // --------------------------------------------------------------------------
    // 动态加载数据库中用户信息并展示
    $.ajax({
        url: '/admin/Users',
        method: 'POST',
        success: function (data){
            users = data;
            renderTable(currentPage);
            renderPagination();
        }
    })
    // 渲染表格数据
    function renderTable(page){
        var start = (page - 1) * pageSize;
        var end = start + pageSize;
        var tableBody = $('#userTableBody');
        tableBody.empty();

        for(var i=start;i<end && i<users.length;i++){
            var user = users[i];
            tableBody.append(`
                <tr>
                    <td
                    <td>${user.email}</td>
                    <td>${user.password}</td>
                    <td>${user.activationTime}</td>
                    <td>${user.isValid}</td>
                    <td>
                        <button class="ui button red" onclick="deleteUser(${user.id})">删除用户</button>
                    </td>
                    <td>
                        <button class="ui button" onclick="updatePassword('${user.email}', '${user.id}')">修改密码</button>
                        <button class="ui button" onclick="updateState('${user.email}', '${user.id}')">修改状态</button>
                    </td>
                </tr>
            `);
        }
        $('#currentPage').text(page);
    }
    // 渲染分页按钮
    function renderPagination(){
        var totalPages = Math.ceil(users.length / pageSize);
        var pagination = $('#pagination');
        pagination.empty();
        if(totalPages<=1){
            return;
        }
        // 添加上一页按钮
        pagination.append('<a class="icon item" id="previousPage"><i class="left chevron icon"></i></a>');

        // 添加第一页按钮
        pagination.append('<a class="item">1</a>');

        // 添加省略号按钮（如果总页数大于最大显示按钮数）
        if (currentPage>3) {
            pagination.append('<a class="disabled item" id="ellipsis">...</a>');
        }

        // 添加中间页码按钮
        for (var i = 2; i < totalPages; i++) {
            // 只显示当前页的前后两页，以及第一页和最后一页
            if (Math.abs(i - currentPage) <= 1 || i === 1 || i === totalPages) {
                pagination.append('<a class="item">' + i + '</a>');
            }
        }

        // 添加省略号按钮（如果总页数大于最大显示按钮数）
        if (currentPage<totalPages-2) {
            pagination.append('<a class="disabled item" id="ellipsis">...</a>');
        }

        // 添加最后一页按钮
        pagination.append('<a class="item">' + totalPages + '</a>');

        // 添加下一页按钮
        pagination.append('<a class="icon item" id="nextPage"><i class="right chevron icon"></i></a>');

        // 绑定分页按钮点击事件
        $('#pagination .item').not('#previousPage, #nextPage, #ellipsis').click(function() {
            currentPage = parseInt($(this).text());
            renderTable(currentPage);
            renderPagination();
        });

        // 上一页按钮点击事件
        $('#previousPage').click(function (){
            if(currentPage>1){
                currentPage --;
                renderTable(currentPage);
                renderPagination();
            }
        })
        // 下一页按钮点击事件
        $('#nextPage').click(function (){
            if(currentPage<Math.ceil(users.length / pageSize)){
                currentPage ++;
                renderTable(currentPage);
                renderPagination();
            }
        })
    }


    // --------------------------------------------------------------------------
    // 弹出对应表单
    function toggleModal(modalId){
        $('#' + modalId).modal('show');
    }

    // 页面跳转
    function loadContent(section) {
        if (section === 'users') {
            window.location.href = '/adminWeb/UsersManagement'
        }else if(section ==='salesmen'){
            window.location.href = '/adminWeb/SalesmenManagement'
        }else if(section ==='logs'){
            window.location.href = '/adminWeb/LogsManagement'
        }else if(section === 'orders'){
            window.location.href = '/adminWeb/OrdersManagement'
        }else if(section === 'goods'){
            window.location.href = '/adminWeb/GoodsManagement'
        }else if(section === 'data'){
            window.location.href = '/adminWeb/DataManagement'
        }else if(section === 'saleData'){
            window.location.href = '/adminWeb/SaleDataManagement'
        }
    }

    // --------------------------------------------------------------------------
    // 添加用户函数
    $("#addUser").on("click", function (){
        $.ajax({
            url:"/admin/addUser",
            type:"POST",
            data:{
                email: $("#emailInput").val(),
                password: $("#passwordInput").val(),
                isValid: $("#statusInput").val()
            },
            resultType:"json",
            success: function (result){
                $('#addUserFormModal').modal('hide');
                alert(result.message);
                location.reload();
            },
            error: function (result){
                alert(result.message);
            }
        });
    });

    // 删除用户函数
    function deleteUser(userId) {
        // 弹出删除确认的模态框
        $('#deleteModal')
            .modal({
                closable: false,
                onApprove: function (){
                    // 点击确认时删除
                    $.ajax({
                        url: '/admin/deleteUser',
                        method: 'POST',
                        data:{
                            id : userId
                        },
                        success: function (result){
                            alert(result.message);
                            location.reload();
                        },
                        error: function (result){
                            alert(result.message);
                        }
                    })
                },
            })
            .modal('show');
    }

    // 更改密码函数
    function updatePassword(email, userId){
        $('#updatePasswordModal')
            .modal({
                closable: false,
                onShow: function (){
                    $('#whoBeUpdatedPw').html(email);
                },
                onVisible: function (){
                    $('#updatePasswordModal .ui.primary.button').click(function (){
                        $.ajax({
                            url: '/admin/updateUserPassword',
                            method: 'POST',
                            data:{
                                id: userId,
                                email: $('#whoBeUpdatedPw').text(),
                                password: $('#passwordInputToUpdate').val()
                            },
                            success: function(result){
                                $('#updatePasswordModal').modal('hide');
                                alert(result.message);
                                location.reload();
                            },
                            error: function (result){
                                alert(result.message);
                            }
                        })
                    })
                }
            }).modal('show');
    }

    // 更改激活状态函数
    function updateState(email, userId){
        $('#updateStateModal')
            .modal({
                closable: false,
                onShow: function (){
                    $('#whoBeUpdatedState').html(email);
                },
                onVisible: function (){
                    $('#updateStateModal .ui.primary.button').click(function (){
                        $.ajax({
                            url: '/admin/updateUserState',
                            method: 'POST',
                            data:{
                                id: userId,
                                email: $('#whoBeUpdatedState').text(),
                                isValid: $('#stateInputToUpdate').val()
                            },
                            success: function(result){
                                $('#updateStateModal').modal('hide');
                                alert(result.message);
                                location.reload();
                            },
                            error: function (result){
                                alert(result.message);
                            }
                        })
                    })
                }
            }).modal('show');
    }

</script>

</body>

</html>
